<div class="text-center bg-yellow-200 p-4 rounded-lg">
    <p class="text-orange-500 font-bold">¡Atención!</p>
    <p class="text-lg text-yellow-800">Estoy trabajando exclusivamente con el usuario por defecto: 12853</p>
</div>
<div class="max-w-md mx-auto bg-white shadow-md rounded-md overflow-hidden">
    <img class="w-full h-72 object-cover"
        src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg?w=1380&t=st=1717952495~exp=1717953095~hmac=83abe83d2a16be5af5e704d5bd131d2a6aaae93ae3a3c90aeff55e3761b7c535"
        alt="Avatar del usuario">
    <div class="p-4">
        <h2 class="text-xl font-bold text-gray-800">Nombre del Usuario: Juanito 123</h2>
        <p class="text-sm text-gray-600 mt-2">Correo electrónico: juanito123example.com</p>
        <p class="text-sm text-gray-600">Edad: 30 años</p>
        <p class="text-sm text-gray-600">Ubicación: Lima - Perú </p>
        <div class="mt-4 flex justify-end">
            <button
                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Editar</button>
            <button
                class="ml-2 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">Eliminar</button>
        </div>
    </div>
</div>